body {
  background: rgb(233, 233, 233);
}

img {
  height: 200px;
  max-width: 95%;
  border-radius: 10px;
}

.card {
  margin-top: 50px;
  width: 300px;
  padding: 20px;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 10px;
  background: white;
}
